
*{
    margin:0;
    padding:0;
    font-weight:500;
    font-family: Verdana, sans-serif;

}

nav ul li{
    display:inline-block;
    list-style:none;
    margin: 20px 20px;
}

body{
    margin:0;
    padding:0;
    background-color:#ecf5f2 ;
    color:white;
    height:100;
    color:rgb(165, 160, 160);
    scroll-behavior:smooth;
}

nav{
    background-color:#ecf5f2;
    display:flex;
   
    
    justify-content:space-around;
    align-items:center;
    margin: auto;
    width:80%;
}
.portfolio{
   
padding: 0 30px;
}
.contain{
    background-image:url("20231020_174026-fotor-bg-remover-2023121914219.png");
    object-fit:cover;
    background-size: auto 100%;
    background-position:right top;
    background-repeat: no-repeat;
  
    height:100vh;
    margin-top:0;
    width:80%;
    margin:auto;
   
}

.introduction{
    display:inline-block;
}
.introduction2 {
    overflow:hidden;
    border-right: 1px solid #ec0e46;
    animation: typing 3s steps(30,end) forwards,  blink 1s infinite;
    width:0;
    white-space:nowrap;
}
@keyframes typing{
    from { width:0}
    to {width: 100%}
}

@keyframes blink{
    from{ border-color:transparent} to {border-color:#ec0e46};
}
.outline{
    position:relative;
    display:inline-block;
}
.outline a{
    text-decoration: none;
    color:rgb(165, 160, 160);
    font-weight:300px;
    
}

.outline::after{
content: "";
 width:0;
 height:3px;
 transition: 0.6s;
 background-color:rgb(218, 90, 112);
 position:absolute;
 left:0;
 bottom:-5px;

}

.outline:hover::after{
    width:100%;
  
}

.introduction{
    padding-top: 15%;
   
}

.section{
    padding: 0 30px;
}

.description{
  
    font-weight:350;
    color:rgb(165, 160, 160);
}


.contain2{
   position:relative;
   margin-top:15px;
   width:80%;
   margin:auto;
   margin-top:28px;
   
}


.contain2::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background-image:url("20220815_090023.jpg");
    width:100%;
    bottom:0;
    background-size: cover;
    opacity:0.5;


}

.contain2 ul{
    text-align:center;
     padding:15vh 0 30vh;
     font-size:16px;
     list-style:none;
     color:rgb(36, 37, 37);
}

.contain2 ul li span{
    color:rgb(231, 53, 83);
  
}

.contain2 ul li span{
    color:#ec0e46;
    font-size:25px !important
}


.skill1{
    width: 70%;
    display:flex;
    flex-direction:column;
    align-items:center;
    Justify-content:center;
    margin:auto;
}

.skill1 ul{
    display: flex;
   justify-content:center;
   align-items:center;
   flex-wrap: wrap;
 
   justify-content:center;
}
.skill1 ul li{
    list-style:none;
    padding:9px;
    border: 2px solid #808080;
    margin:10px;
    font-size:20px;
    font-weight:400px;
    border-radius:3px;
    background-color:#ecf5f2;
    transition: transform 0.5s;
}

.skill1 ul li:hover{
    color:#ec0e46;
    background-color:azure;
    transform: translateY(-3px);

}


.skill-fig{
    display:flex;
    justify-content:center;
    padding: 20px;
    flex-wrap:wrap;
}

.fig{
    margin-right:3px;
    transition: transform 0.5s;
    max-width: 100%;
    height: auto; /* To maintain aspect ratio */
  
}


.fig:hover{
    transform: translateY(-3px);
    outline: 2px solid #EC5578;
}







.my-project{
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 35% 35%;
    justify-content:center;
   
}
.projects center h1{
    margin-bottom:50px;
}
.project{
    overflow:hidden;
   color:black;
    position:relative;
    background-color:#e2f5ee;
    transition: transform 0.5s, height 0.5s;
    padding:10px;
    height:100%;
    overflow:hidden;


    border-radius:10px;
}

.project img{
    width:35%;
    height:auto;
    display:block;
    margin:auto;
    border-radius:10px;

}

.project h3{
    text-align:center;
  
}
.project a{
    text-align:center;
    display:block;
    text-decoration: none;
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgb(198, 231, 230);
    background-color:azure;
    height:100%;

}


.contact{
    display:grid;
    grid-template-columns: 40%  40%;
    background-image:linear-gradient(to bottom right , rgb(136, 227, 218), rgba(250, 183, 201, 0.981));
    height:170px;
    width:100%;
    justify-content:center;
    align-items:center;
    margin:auto;
    margin-top:25px;
    color:blue;
    text-align:center;
    
}

.contact a{
    text-decoration: none;
}
@media screen and (max-width:600px)
{
 .my-project{

   display:grid;
   grid-template-columns: 100%;
 }

 .skill-fig{
    display:grid;
    grid-template-columns: 20% 20%  20%;
    grid-gap:10px;
  
 }
 .fig{
    max-width:100%;
    height:auto;
 }
 .fig:hover{
    transform: translateY(-3px);
    outline: 2px solid #EC5578;
}

}



@media screen and(min-width:600px) and (max-width:900px){
    .my-project{
        display:grid;
        grid-template-columns:45% 45%;
    }
}